---
import Layout from "../components/layout.astro";
import Hero from "../modules/home/hero.astro";
import Date from "../modules/home/date.astro";
import TimeSchedule from "../modules/home/time-schedule.astro";
import OurPartners from "../modules/home/our-partners.astro";
---

<Layout>
  <div class="min-h-screen w-full">
    <Hero />
    <Date />
    <TimeSchedule />
    <OurPartners />
  </div>
</Layout>
