---
import Layout from "../components/layout.astro";
import Hero from "../modules/home/hero.astro";
import Date from "../modules/home/date.astro";
import TimeSchedule from "../modules/home/time-schedule.astro";
import Speakers from "../modules/home/speakers.astro";
import WhatIsWFD from "../modules/home/what-is-wfd.astro";
import WhatIsWFDTH from "../modules/home/what-is-wfd-th.astro";
import OurPartners from "../modules/home/our-partners.astro";
---

<Layout>
  <div class="min-h-screen w-full">
    <Hero />
    <Date />
    <TimeSchedule />
    <Speakers />
    <WhatIsWFD />
    <WhatIsWFDTH />
    <OurPartners />
  </div>
</Layout>
