---
import Layout from "../components/layout.astro";
import Hero from "../modules/home/hero.astro";
import Date from "../modules/home/date.astro";
---

<Layout>
  <div class="min-h-screen w-full">
    <Hero />
    <Date />
  </div>
</Layout>
