<section class="bg-white">
  <div class="py-16 flex flex-col gap-4 items-center max-w-md mx-auto">
    <img src="/assets/pattern-2-chamchuri-1.svg" alt="Chulalongkorn University" class="size-8" />
    
    <div class="gap-1 flex flex-col items-center">
      <p class="text-5xl text-secondary font-extrabold font-uturna uppercase">17 October, 2025</p>
      <p class="text-xl text-secondary font-normal font-prachason uppercase">Chulalongkorn University, Bangkok, Thailand</p>
    </div>
  </div>
</section>