---
import { sessions } from "../../data/session";
import Session from "../../components/session.astro";
---

<section class="bg-accent w-full">
  <div class="py-16 flex flex-col gap-14 items-center max-w-md mx-auto">
    <div class="flex gap-4 items-center">
      <img src="/assets/pattern-4-wfd-2-1.svg" alt="" class="size-8" />
      <h2 class="text-5xl text-primary font-extrabold font-uturna uppercase">Our Partners</h2>
      <img src="/assets/pattern-4-wfd-2-1.svg" alt="" class="size-8" />
    </div>
    
    <div class="flex gap-8 items-center w-full">
      <img src="/assets/logo/wfd-chula/logo-wfd-white-text.png" alt="WFD Chula" class="w-auto h-16 object-contain" />
      <img src="/assets/logo/wfd-chula/logo-council-europe.png" alt="Council of Europe" class="w-auto h-16 object-contain" />
      <img src="/assets/logo/wfd-chula/logo-cu-white.png" alt="Chula" class="w-auto h-16 object-contain" />
      <img src="/assets/logo/wfd-chula/logo-cu-sgcu-white.png" alt="SGCU Chula" class="w-auto h-16 object-contain" />
      <img src="/assets/logo/wfd-chula/logo-cu-sccu-white.png" alt="SCCU Chula" class="w-auto h-16 object-contain" />
    </div>
  </div>
</section>