<section class="w-full relative">
  <img src="/assets/wfd.jpg" alt="Hero Image" class="w-full h-auto max-h-[32rem] object-cover" />

  <!-- absolutely positioned mid-right text section -->
  <div class="absolute top-1/2 right-24 transform -translate-y-1/2 flex flex-col gap-8">
    <div class="flex flex-col items-end">
      <h2 class="text-4xl font-normal font-prachason text-white">What is</h2>
      <p class="text-6xl font-bold italic text-bg-light-yellow">WFD ?</p>
    </div>

    <a href="#" class="border-2 border-white px-3 py-4 uppercase flex gap-4 items-center justify-between bg-black/15 cursor-pointer hover:bg-black/25 transition">
      <span class="text-white">Find Out</span>
      <img src="/assets/chevron-right-wfd.svg" alt="Chevron Right" class="size-8" />
    </a>
  </div>
</section>
